<nav class="navbar navbar-inverse navbar-fixed-top">
    <!-- Share buttons by Cubecamp.ru  www.cubecamp.ru/articles/share/cubecamp.html -->
    <div id="addbar" class="share-btn pull-right" data-url="http://defonic.com" data-title="Defonic"
         data-desc="a fabulous ambient noise generator. Give you a creative boost, stay focused or just relax.">
        <a data-id="gp"><i class="fa fa-google-plus fa-fw"></i></a>
        <a data-id="fb"><i class="fa fa-facebook fa-fw"></i></a>
        <a data-id="tw"><i class="fa fa-twitter fa-fw"></i></a>
        <a data-id="vk"><i class="fa fa-vk fa-fw"></i></a>
        <a data-id="in"><i class="fa fa-linkedin fa-fw"></i></a>
    </div>
</nav>

<div class="balloon">
    <!-- Static navbar -->
    <div class="container" style="display: table;">
        <div class="column1 mobhide">
            <h2>Let's play<br>x.0</h2>
        </div>
        <div class="column2 floating-logo">
            <img src="images/balloon-logo.png" width="170" height="250" alt="">
        </div>
    </div>

    <!-- 1 Home -->
    <section id="home" class="container">
        <div id="main">
            <div id="content">
                <div class="row">
                    <div class="col-md-6">
                        <div id="jp_container_1">
                            <a href="#!/login" id="button1" class="btn btn-primary btn-xl btn-block">Login</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="jp_container_7">
                            <a href="#!/register" id="button2" class="btn btn-primary btn-xl btn-block">Register</a>
                        </div>
                    </div>
                </div>
            </div> <!-- end content -->
        </div> <!-- end main -->
    </section> <!--end home -->
</div>